<section class="top">
  <h3>
    Simple blog.
    <span class="font-small">
      は世界一シンプルなブログサービスです。<br>
      １記事につき、<br>
      140文字以内の記事を気軽に投稿できます。<br>
      あなたも
    </span>
    Simple blog.
    <span class="font-small">
      でシンプルなブログ習慣をはじめてみませんか？
    </span>
  </h3>
  <h5 class="create-new"><%= link_to "→ Log in. ログインする", new_session_path %></h5>
  <h5 class="create-new"><%= link_to "→ Sign up. ユーザー登録", new_user_path %></h5>
  <!-- <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Link <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to "→ Top.", root_path %></li>
      <li><%= link_to "→ Blogs index.", blogs_path %></li>
      <li><%= link_to "→ Create new.", new_blog_path %></li>
    </ul>
  </div> -->
</section>
