<%= form_with(model: @blog, local: true, url: url_new_or_edit, method: method_new_or_edit ) do |form| %> <!--url/methodはhelper参照-->
  <% if @blog.errors.any? %>
    <div class="errors">
      <p>You've got <%= pluralize(@blog.errors.count, "error") %>!</p>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class="form row">
    <div class="title"><%= form.label :title %></div>
    <div class="content"><%= form.text_field :title, class: 'text-title' %></div>

    <div class="title"><%= form.label :content %></div>
    <div class="content"><%= form.text_area :content, class: 'text-content' %></div>
  </section>
  <ul class="edit-menu form-menu">
    <li><%= form.submit "Confirm...", id: 'btn' %></li>
  </ul>
<% end %>
