<%= form_with(model: @blog, local: true, url: url_new_or_edit, method: method_new_or_edit ) do |form| %> <!--url/methodはhelper参照-->
  <% if @blog.errors.any? %>
    <p>You've got <%= @blog.errors.count %> ERRORs!</p>
    <% @blog.errors.full_messages.each do |error| %>
    <ul>
      <li><%= error %></li>
    </ul> 
    <% end %>
  <% end %>

  <section>
    <div class="title"><%= form.label :title %></div>
    <div class="content"><%= form.text_field :title, class: 'text-title' %></div>
  
    <div class="title"><%= form.label :content %></div>
    <div class="content"><%= form.text_area :content, class: 'text-content' %></div>
  </section>
  <div class="fixed_area_for_confirm"><%= form.submit "Confirm...", class: 'btn' %></div>
<% end %>
<footer>
  <h5 class="link"><%= link_to "Back.", blogs_path %></h5>
</footer>
