<!--index-->
<h5 class="create-new"><%= link_to "→ Create new.", new_blog_path %></h5>
  <div class="row">
    <% @blogs.each do |blog| %>

    <article class="show col-md-10 col-sm-12">
      <div class="title col-md-4 col-sm-12"><%= link_to truncate(blog.title, length: 15), blog_path(blog.id) %></div>
      <div class="content col-md-6 col-sm-12">
        <%= truncate(blog.content, length: 20 )  %>
        <span><%= link_to " Continue ", blog_path(blog.id) if blog.content.length > 20 %></span>
      </div>
      <div class="author col-md-2  col-sm-12">
        <% unless blog.user_id.nil? %>
          <% if blog.user.image.present? %>
            <%= image_tag blog.user.image, class: "index-user-image" %>
          <% else %>
            <%= image_tag 'nc97179', class: "index-user-image" %>
          <% end %>
          <%= link_to "#{blog.user.name}", user_path(blog.user_id) unless blog.user_id.nil?  %>
        <% else %>
          <%= "　 (No author)" %>
        <% end %>
      </div>
    </article>
    <% if @current_user.id == blog.user_id %>
      <ul class="edit-menu col-md-2 col-sm-12">
        <li class="index-edit-menu">
          ( <%= link_to "→ Edit.", edit_blog_path(blog.id) %>
          <%= link_to "→ Delete.", blog_path(blog.id), method: :delete, data:{confirm: "本当に\"#{blog.title}\"を削除してもよろしいですか?"} %> )
        </li>
      </ul>
    <% end %>

    <% end %>
    <div class="page page-bottom col-md-12 col-sm-12"><%= paginate @blogs %></div>
  </div>
