<div class="back-rgba">
  <section class="login-signup">
    <h2>Confirm...</h2>

    <%= render "confirm" %>

    <%= form_with(model: @blog, local: true, url: new_blog_path, method: :get) do |form| %>
      <%= form.hidden_field :title %>
      <%= form.hidden_field :content %>
      <%= form.hidden_field :image %>
      <div class="confirm-back-btn">
        <ul class="edit-menu col-md-2 col-sm-12">
          <li><%= form.submit "Back." , name: "back", id: 'btn' %></li>
        </ul>
      </div>
    <% end %>
  </section>
</div>
