<!--show-->
<h5 class="create-new"><%= link_to "→ Create new.", new_blog_path %></h5>
<section>
  <article class="show-content col-md-12">
    <div class="title">Title</div>
    <div class="content">
      <%= @blog.title %>
    </div>

    <div class="title">Content</div>
    <div class="content">
      <p><%= @blog.content %></p>
      <ul class="edit-menu show-edit-menu">
        <li><%= link_to "→ Edit.", edit_blog_path(@blog.id) %></li>
        <li><%= link_to "→ Delete.", blog_path(@blog.id), method: :delete, data:{confirm: "Are you sure to delete \"#{@blog.title}\"?"} %></li>
        <li><%= link_to "→ Back.", blogs_path %></li>
      </ul>
    </div>
  </article>
</section>
