<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div class="errors">
      <p>You've got <%= pluralize(@user.errors.count, "error") %>!</p>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <ul>
    <li><%= f.label :name %></li>
    <li><%= f.text_field :name %></li>
    <li><%= f.label :email %></li>
    <li><%= f.email_field :email %></li>
    <li><%= f.label :password %></li>
    <li><%= f.password_field :password %></li>
    <li><%= f.label :"Password(Confirmation)" %></li>
    <li><%= f.password_field :password_confirmation %></li>
    <li><%= f.submit :"Submit.", id:"btn" %></li>
  </ul>
<% end %>
