<section>
  <div class="row user-menu">
    <h2><%= @user.name %></h2>
    <p>
      <% if @user.image.present? %>
        <%= image_tag @user.image, class: "user-image" %>
      <% else %>
        <%= image_tag 'nc97179', class: "user-image" %>
      <% end %>
    </p>

    <ul class="edit-menu show-edit-menu col-sm-offset-1 col-sm-11">
      <div class="change-btn">

      <% case params['content'] %>
      <% when 'blog' %>
        <div id="favorites-btn-2">→ Favorites.</div>
        <div id="blogs-btn-2">→ Blogs.</div>
      <% when 'favorite' %>
        <div id="favorites-btn-3">→ Favorites.</div>
        <div id="blogs-btn-3">→ Blogs.</div>
      <% else %>
        <div id="favorites-btn-1">→ Favorites.</div>
        <div id="blogs-btn-1">→ Blogs.</div>
      <% end %>

      </div>
      <% if current_user.id == @user.id %>
        <li><%= link_to "→ Edit your profire.", edit_user_path(@user.id) %></li>
      <% end %>
    </ul>
  </div>

  <article class="user_content row">
    <% case params['content'] %>
    <% when 'blog' %>
      <div id="blogs-show-2"><%= render "blogs" %></div>
      <div id="favorites-show-2"><%= render "favorites" %></div>
    <% when 'favorite' %>
      <div id="blogs-show-3"><%= render "blogs" %></div>
      <div id="favorites-show-3"><%= render "favorites" %></div>
    <% else %>
      <div id="blogs-show-1"><%= render "blogs" %></div>
      <div id="favorites-show-1"><%= render "favorites" %></div>
    <% end %>
  </article>
</section>

<script>
  $(function() {
    $('#favorites-btn-1').on('click', function(){
      $('#favorites-btn-1').toggle();
      $('#blogs-btn-1').toggle();
      $('#blogs-show-1').slideToggle(400);
      $('#favorites-show-1').slideToggle(400);
    });
    $('#blogs-btn-1').on('click', function(){
      $('#blogs-btn-1').toggle();
      $('#favorites-btn-1').toggle();
      $('#blogs-show-1').slideToggle(400);
      $('#favorites-show-1').slideToggle(400);
    });
  });

  $(function() {
    $('#favorites-btn-2').on('click', function(){
      $('#favorites-btn-2').toggle();
      $('#blogs-btn-2').toggle();
      $('#blogs-show-2').slideToggle(400);
      $('#favorites-show-2').slideToggle(400);
    });
    $('#blogs-btn-2').on('click', function(){
      $('#blogs-btn-2').toggle();
      $('#favorites-btn-2').toggle();
      $('#blogs-show-2').slideToggle(400);
      $('#favorites-show-2').slideToggle(400);
    });
  });

  $(function() {
    $('#favorites-btn-3').on('click', function(){
      $('#favorites-btn-3').toggle();
      $('#blogs-btn-3').toggle();
      $('#blogs-show-3').slideToggle(400);
      $('#favorites-show-3').slideToggle(400);
    });
    $('#blogs-btn-3').on('click', function(){
      $('#blogs-btn-3').toggle();
      $('#favorites-btn-3').toggle();
      $('#blogs-show-3').slideToggle(400);
      $('#favorites-show-3').slideToggle(400);
    });
  });
</script>
